
<h1>Hello Admin</h1>
<h1>Upload books</h1>
<form action="/upload" method="POST" enctype="multipart/form-data">
  <label for="bookTitle">Book Title:</label>
  <input type="text" name="bookTitle" id="bookTitle" required>
  
  <label for="bookNumber">Book Number:</label>
  <input type="text" name="bookNumber" id="bookNumber" required>
  
  <label for="bookFile">Choose a File:</label>
  <input type="file" name="bookFile" id="bookFile" required>
  
  <button type="submit">Upload</button>
</form>
 
<h1> List of Users</h1>
<button>Users</button>

<h1>List of Books</h1>
<button>Books</button>
<button>Edit Books</button>

<h1>Fine</h1>


